// .ant-table-row {
// 	background: #fff !important;
// }
// .ant-table-tbody>tr>td, .ant-table-thead>tr>th {
// 	padding: 12px 8px !important;
// }
.ant-collapse-content>.ant-collapse-content-box {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.ant-collapse>.ant-collapse-item>.ant-collapse-header {
	height: 50px;
}