.mapContainessr {
  background-color: white;
  height: 200px;
  width: 60%;
  top: 10px;
  right: 10px;
  margin: 0 auto 20px;
}
.receiverForm-item-box {
  position:relative;
  padding:1em;
  border: 1px solid #e4e3e3;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);
  margin:20px 0 40px;
  .close-circle{
    position: absolute;
    right: -15px;
    top: -13px;
    font-size: 30px;
    cursor:pointer;
  }
}