.ant-advanced-search-form {
  .AddDistribution-btn-formItem{
    display: flex;
    justify-content: center;
    .ant-btn.save-form-button {
      background: #aad07d;
      border-color: #aad07d;
      color: #fff;
      letter-spacing: 2px;
      &:hover {
        background: #aad07d;
        border-color: #aad07d;
        color: #403a3a;
      }
    }
    .ant-btn.login-form-button{
      margin: 0 30px;
    }
    button {
      border-color: #ffdb08;
    }
  }
}